*{
    outline: none;
}
body {
    background-color: hsl(0, 0%, 5%);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    animation: wiggle 5s linear infinite;
}

@keyframes wiggle {
    0%, 100% {
        transform: translate(-0.2em, 0);
    }
    25% {
        transform: translate(0, -0.2em);
    }
    50% {
        transform: translate(0.2em, 0);
    }
    75% {
        transform: translate(0, 0.2em);
    }
}

.pad {
    background-color: hsl(0, 0%, 10%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50vw;
    top: 50vh;
    width: 35vw;
    border: 0.3em hsl(0, 0%, 15%) solid;
    border-radius: 1em;
    overflow: hidden;
}
.keydown {
    top: 51vh;
}

.clear {
    animation: clear 0.1s ease-in-out;
}
@keyframes clear {
    0%, 100% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-1em, -1em);
    }
    40% {
        transform: translate(1em, 1em);
    }
    60% {
        transform: translate(-0.8em, 1.2em);
    }
    80% {
        transform: translate(1.2em, 0.8em);
    }
}

td {
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#num {
    padding: 1em;
    color: hsl(0, 0%, 40%);
    font-size: 3em;
    text-align: center;
    white-space: nowrap;
}
.pass {
    color: hsl(0, 0%, 100%);
}

button {
    width: 100%;
    padding: 1em;
    font-size: 1.5em;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border: none;
    transition: background-color 0.1s;
    cursor: pointer;
}
button:hover {
    background-color: hsl(0, 0%, 25%);
}
button:active {
    background-color: hsl(0, 0%, 40%);
}
.active {
    background-color: hsl(0, 0%, 40%);
}